.wrapper {
    width: 100%;
    height: 100%;
    background: var(--dark);
    .title {
        position: absolute;
        left: 10%;
        top: 10vh;
    }
    .asterix {
        position: absolute;
        left: 10%;
        bottom: 10vh;
    }
    .cardWrapper {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2vh;
        .card {
            border-radius: 10px;
            border: 5px solid var(--font-primary);
            width: 17vw;
            height: 17vw;
            background: var(--ocean-blue);
            display: flex;
            justify-content: center;
            align-items: center;
            .container {
                width: 85%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                position: relative;
                .price {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%,-50%,0);
                    width: 80%;
                    p {
                        width: 100%;
                        text-align: center;
                        span {
                            font-size: 4rem;
                            font-weight: 900;
                        }
                    }
                }
            }
            h1 {
                font-size: 1.8rem;
            }
        }
        
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
        padding: 10vh 0 5vh 0;
        display: block;
        .title, .asterix {
            position: initial;
            width: 90%;
            margin: 0 auto;
        }
        .title {
            padding: 0 0 2vh 0;
        }
        .asterix {
            padding: 0 0 5vh 0;
        }
        .cardWrapper {
            position: initial;
            transform: translate3d(0,0,0);
        display: block;
        width: 90%;
        margin: 0 auto;
        .card {
            width: 100%;
            height: 35vh;
            margin-bottom: 5vh;
        }
        }
    }
  }