.button {
    padding: 1vh 3vw 1vh 3vw;
    width: 5vh;
    position: relative;
    width: auto;
    background: var(--flashy-blue);
    display: inline-block;
    color: var(--dark);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    align-self: flex-start;

    span {
        font-weight: 900;
        letter-spacing: .25rem;
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        font-size: .8rem;
        font-family: 'Antonio', sans-serif;
    }
    .filter {
        position: absolute;
        z-index: 0;
        top: 0;
        transform: translate3d(-150%, 0, 0);
        width: 50%;
        height: 100%;
        transition: all ease-in-out .3s;
        background: radial-gradient(circle, rgba(255,255,255,.5) 71%, rgba(0,0,0,0) 100%);
    }
    &:hover {
        .filter {
            transform: translate3d(200%, 0, 0);
        }
    }
}
@media screen and (max-width: 600px) {
    .button {
        padding: 1vh 5vh 1vh 5vh;
    }
}