.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--dark);
    transform: translate3d(0, 100%,0);
    transition: all ease .5s;
    z-index: 200;
    .button {
        transition: all ease .5s;
        position: absolute;
        left: 5%;
        transform: translate3d(0, -99%,0);
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: var(--ocean-blue);
        color: white;
        border-top: 2px solid var(--flashy-blue);
        border-left: 2px solid var(--flashy-blue);
        border-right: 2px solid var(--flashy-blue);
        cursor: pointer;
        display: flex;
        align-items: center;
        p {
            margin-left: 2vw;
        }
        &:hover {
            background: var(--font-primary);
            color: var(--flashy-blue);
        }
    }
    .container {
        background: var(--font-primary);
        width: 100%;
        padding: 2.5vh 0 2.5vh 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .middle {
            position: absolute;
            left: 50%;
            transform: translate3d(-50%, 0,0);
        }
    }
}