.wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 6.5vh;
    width: 100%;
    z-index: 200;
    .menu {
        position: absolute;
        right: 0;
        height: 100%;
        width: 75%;
        display: flex;
        background: var(--ocean-blue);
        ul {
            width: 85%;
            height: 100%;
            list-style: none;
            color: var(--dark);
            display: flex;
            align-items: center;
            text-transform: uppercase;
            li {
                padding: 0 0 0 3vw;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                text-align: center;
                font-family: 'Antonio', sans-serif;
                -webkit-text-stroke: .7px var(--dark);
                font-weight: 600;
            }
        }
        .login {
            cursor: pointer;
            width: 15%;
            background: var(--font-primary);
            color: var(--dark);
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Antonio', sans-serif;
            position: relative;
            .logout {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                background: red;
                height: 100%;
                width: 100%;
                color: #F2F2F2;
                transition: all ease .5s;
                transform: translate3d(100%, 0, 0);
                p {
                    text-align: center;
                }
            }
            &:hover {
                .logout {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }
    
}

.mobile_wrapper {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--font-primary);
    color: var(--dark);
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    .container {
        height: 7vh;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            height: 70%;
        }
    }
    .hamburger {
        width: 10vw;
        div {
            border-radius: 20px;
            height: 5px;
            width: 100%;
            background: var(--dark);
            &:nth-of-type(2) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    
}
.list {
    position: absolute;
    top: 7vh;
    left: 0;
    border-top: 2px solid var(--dark);
    height: 93vh;
    width: 100%;
    background: var(--font-primary);
    transition: transform ease .5s;
    transform: translate3d(-100%, 0, 0);
    z-index: 100;
}