.wrapper {
    height: 100vh;
    background: #F2F2F2;
    overflow: hidden;
    h1 {
        color: var(--dark);
        text-align: right;
        width: 20%;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
    .grid {
        width: 75%;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate3d(0,-50%,0);
        display: flex;
        .card {
            vertical-align: top;
            display: inline-block;
            min-width: 15vw;
            margin-right: 2vw;
            background: rgb(195, 193, 193);
            position: relative;
            cursor: pointer;
            h1 {
                position: absolute;
                left: 10%;
                top: 5%;
                font-size: 2rem;
                width: auto;
                text-align: left;
                span {
                    color: transparent;
                    -webkit-text-stroke: 1px var(--dark);
                }
            }
            img {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }
}