.wrapper {
    height: 100vh;
    background: #F2F2F2;
    overflow: hidden;
    h1 {
        color: var(--dark);
        text-align: right;
        width: 20%;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
    .grid {
        width: 75%;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 50vh;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate3d(0,-50%,0);
        display: flex;
        .card {
            vertical-align: top;
            display: inline-block;
            min-width: 15vw;
            margin-right: 2vw;
            background:  #CFCFCF;
            position: relative;
            cursor: pointer;
            h1 {
                position: absolute;
                left: 10%;
                top: 5%;
                font-size: 2rem;
                width: auto;
                text-align: left;
                span {
                    color: transparent;
                    -webkit-text-stroke: 1px var(--dark);
                }
            }
            img {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            .profileBtn {
                opacity: 0;
                cursor: pointer;
                width: 80%;
                height: 5vh;
                border-radius: 50px;
                background: var(--flashy-blue);
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
                transition: all ease .5s;
                border: 2px solid var(--dark);
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%,0);
                    color: var(--dark);
                    font-family: 'Antonio', sans-serif;
                    text-transform: uppercase;
                }
            }
            &:hover {
                .profileBtn {
                    opacity: 1;
                }
            }
        }
    }
}