.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--dark);
    overflow: hidden;
    h1 {
        color: var(--dark);
        text-align: right;
        width: 20%;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }
    .grid {
        width: 70%;
        overflow: hidden;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        .card {
            cursor: pointer;
            width: 25vh;
            height: 25vh;
            flex: 0 0 33.333333%;
            transition: width 300ms ease;
            overflow: hidden;
            position: relative;
            .title {
                position: absolute;
                bottom: 2rem;
                font-weight: 800;
                left: 5%;
                font-size: 2rem;
                color: var(--font-primary);
                z-index: 3;
                transition: transform 300ms ease;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .filter {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #042136 0%, rgba(0,0,0,0) 75%);
            }
            .profileBtn {
                position: absolute;
                width: 100%;
                z-index: 3;
                bottom: 0;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--flashy-blue);
                transform: translate3d(0, 102%,0);
                transition: all ease .5s;
                color: var(--dark);
                font-weight: 800;
                text-transform: uppercase;
            }
            &:hover {
                .profileBtn {
                    transform: translate3d(0,0,0);
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 10vh 0 10vh 0;
        height: auto;
        width: 100%;
        display: block;
        h1 {
            padding: 0 0 5vh 0;
            position: initial;
            transform: translate3d(0,0,0);
            text-align: center;
            width: 100%;
            color: var(--font-primary);
        }
        .grid {
            display: block;
            position: initial;
            height: auto;
            margin: 0 auto;
            transform: translate3d(0,0,0);
            .card {
                width: 100%;
                height: 50vh;
                margin-bottom: 5vh;
            }
        }
    }
  }