.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 200;
  .closeBtn {
    position: absolute;
    width: auto;
    height: auto;
    top: 2%;
    right: 5%;
    background: red;
    padding: 5px 10px 5px 10px;
  }
  .window {
    position: absolute;
    width: 60%;
    height: 80%;
    background: var(--dark);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    border: 4px solid var(--font-primary);
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    .left,
    .right {
        position: relative;
      width: 50%;
      height: 100%;
    }
    .left {
      position: relative;
      .content {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        text-align: center;
        p {
            padding: 10% 0 0 0;
            text-align: center;
            &:last-of-type {
              padding: 10% 0 10% 0;

          }
        }
      }
    }
    .right {
      input {
        display: block;
        background: transparent;
        // color: var(--dark);
        padding-left: 1vw;
        border-bottom: 2px solid var(--flashy-blue);
    }
    label {
        display: block;
    }
    select {
        text-transform: uppercase;
        background: transparent;
        border: none;
        display: block;
        option {
            background: var(--dark);
        }
    }
    input, label, select {
        width: 100%;
        height: 8vh;
        margin-bottom: 2vh;
        margin-bottom: 2vh;
    }
    p {
      font-size: .8rem;
      text-align: center;
      padding: 2vh 0 2vh;
    }
    button {
        width: 100%;
        padding: 2vh 0 2vh 0;
        border: none;
        background: transparent;
        background: var(--flashy-blue);
        color: var(--dark);
        margin-top: 2vh;
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
        width: 80%;
    }
}
  }
}


@media screen and (max-width: 600px) {
  .wrapper {
    background: var(--dark);
    width: 100%;
    height: 100vh;
    overflow: scroll;
    .window {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0px;
      flex-direction: column;
      display: block;
      position: initial;
      transform: initial;

      .left,
    .right {
        width: 100%;
        height: auto;
    }
    .left {
      position: relative;
      .content {
        width: 80%;
        position: initial;
        transform: initial;
        text-align: center;
        margin: 0 auto;
        padding: 5vh 0 5vh 0;
        p {
            padding: 10% 0 0 0;
            text-align: center;
            &:last-of-type {
              padding: 10% 0 10% 0;

          }
        }
      }
    }
    .right {
      .container {
        position: initial;
        transform: initial;
        margin: 0 auto;
        padding: 5vh 0 5vh 0;
    }
    }
    }
    
  }
  
}