@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  --font-primary : #F2F2F2;
  --flashy-blue:  #11D2F5;
  --ocean-blue:  #1196F5 ;
  --dark : #042136;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #F2F2F2;
  background: #042136;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Antonio', sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
}

h1 span {
  color: transparent;
  font-weight: 500;
  -webkit-text-stroke: 1px var(--font-primary);
}

p {
  text-align: justify;
  text-justify: newspaper;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  background: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: white;
}
